//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1994 by Borland International
//----------------------------------------------------------------------------

#include <owl\pmwindow.h>
#include <owl\window.rh>
#include <owl\inputdia.rc>

#include "litesout.h"

STRINGTABLE
BEGIN
	IDS_RESET, "~Reset"
	IDS_MODE, "~Mode"
	IDS_HELPWINDOWTITLE, "Lites Out Help"
	IDS_HELPLIBRARYNAME, "litesout.hlp"
END



MENU LitesMenu 
BEGIN
	SUBMENU "~Game"
	BEGIN
		MENUITEM "Toggle ~Mode", IDM_MODE
		MENUITEM "~Reset", IDM_RESET
		MENUITEM SEPARATOR
		MENUITEM "~Top Ten", IDM_TOPTEN
		MENUITEM SEPARATOR
		MENUITEM "~Quit", CM_EXIT
	END

	SUBMENU "~Help"
	BEGIN
		MENUITEM "~Contents", IDM_HELP
		MENUITEM SEPARATOR
		MENUITEM "~About", IDM_ABOUT
	END

END

DLGTEMPLATE About
BEGIN
	DIALOG "About ", About, 10, 23, 141, 135, WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU
	PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	BEGIN
		PUSHBUTTON "OK", IDOK, 46, 135-114-14, 48, 14, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_TABSTOP
		CTEXT "LitesOut! for OS/2", -1, 6, 135-6-9, 129, 9
		CTEXT "Herbert Bushong", -1, 6, 75, 129, 9, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		CTEXT "Copyright (c) 1996, 1997 ", -1, 6, 63, 129, 9, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		ICON ICO_LITESOUT, ICO_LITESOUT, 60, 100, 21, 16
		CTEXT "Version 1.0", -1, 6, 86, 129, 9, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | NOT WS_GROUP
	END

END


BITMAP  BMP_OFF  off.bmp
BITMAP  BMP_ON1  on1.bmp
BITMAP  BMP_ON2  on2.bmp
BITMAP  BMP_FLASHOFF  flashoff.bmp
BITMAP  BMP_FLASHON1  flashon1.bmp
BITMAP  BMP_FLASHON2  flashon2.bmp
BITMAP  BMP_HITS    hits.bmp
BITMAP  BMP_MODE  mode.bmp

POINTER CUR_MALET finger.ptr
POINTER CUR_MALETDWN hand.ptr
POINTER CUR_SCR1 scr1.ptr
POINTER CUR_SCR2 scr2.ptr
POINTER CUR_SCR3 scr3.ptr
POINTER CUR_SCR4 scr4.ptr

ICON    ICO_LITESOUT litesout.ico

ACCELTABLE LitesMenu 
BEGIN
	VK_F5, IDM_RESET, VIRTUALKEY
	VK_F2, IDM_MODE, VIRTUALKEY
	VK_F3, CM_EXIT, VIRTUALKEY
	VK_F1, IDM_HELP, VIRTUALKEY
	VK_F4, IDM_TOPTEN, VIRTUALKEY
END

HELPTABLE LITESOUT_HELP_TABLE
BEGIN
	HELPITEM LitesMenu, SUBTABLE_MAIN, PANEL_MAIN
END

HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE 2
BEGIN
	HELPSUBITEM IDM_HELP, PANEL_MAIN
	HELPSUBITEM IDM_MODE, PANEL_MENU
	HELPSUBITEM IDM_RESET, PANEL_MENU
	HELPSUBITEM IDM_ABOUT, PANEL_MENU
END

DLGTEMPLATE TOPTENDLG 
BEGIN
	DIALOG "Top Ten Scores", TOPTENDLG, 6, 6, 292, 159, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", IDOK, 121, 5, 51, 14
		CONTROL "Top Ten Scores", LB_TOPTEN, 14, 27, 264, 120, WC_LISTBOX, LS_NOADJUSTPOS | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Courier"
	END

END

